@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  width: 100%;
  max-width: 80rem;
}

@theme {
  /* White Shades */
  --color-white-50: #808080;
  --color-white-55: #8c8c8c;
  --color-white-60: #999999;
  --color-white-65: #a6a6a6;
  --color-white-70: #b3b3b3;
  --color-white-75: #bfbfbf;
  --color-white-80: #cccccc;
  --color-white-90: #e6e6e6;
  /* Grey Shades */
  --color-grey-06: #0f0f0f;
  --color-grey-10: #1a1a1a;
  --color-grey-12: #1f1f1f;
  --color-grey-15: #262626;
  --color-grey-20: #333333;
  --color-grey-25: #404040;
  --color-grey-30: #4c4c4c;
  --color-grey-40: #666666;
}

/* Global */
html,
body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  cursor: pointer;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

p {
  font-size: 14px;
  color: var(--color-white-55);
}

@media (min-width: 768px) {
  p {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 18px;
  }
}
